<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Currencies</title>
</head>
<body>

<p><a href="/">Main page</a></p>

<table border="1" style="width:300px">
  <tr th:each="currency : ${currencies}">
    <td>
      <a th:href="@{/currencies/{id}(id=${currency.id})}"
         th:text="${currency.id} + '. ' + ${currency.symbol}">
        Actor
      </a>
    </td>
  </tr>
</table>
</body>
</html>