<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Prices</title>
</head>
<body>

<p><a href="/">Main page</a></p>

<table border="1" style="width:300px">
  <tr>
    <td>ID</td>
    <td>Name</td>
    <td>Symbol</td>
    <td>Price</td>
  </tr>
  <tr th:each="price : ${prices}">
    <td th:text="*{price.id}">PriceID</td>
    <td th:text="*{price.name}">Price</td>
    <td th:text="*{price.symbol}">CurrencyID</td>
    <td th:text="*{price.price}">Symbol</td>
  </tr>
</table>
</body>
</html>