<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Users</title>
</head>
<body>

<p><a href="/">Main page</a></p>

<table border="1" style="width:300px">
    <tr th:each="user : ${users}">
        <td>
            <a th:href="@{/users/{id}(id=${user.id})}"
               th:text="${user.id} + '. ' + ${user.name}">
                User
            </a>
        </td>
    </tr>
</table>

<a href="/users/createUser">Create new user</a>
</body>
</html>